body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

canvas#todoList {
  border-radius: 20px;
  background-color: rgba(240,240,240,1.0);
}
canvas#timerFace {
  border-radius: 300px;
  background-color: rgba(240,240,240,1.0);
  margin: 10px;
}

a {
  color: #00B7FF;
}

.clock {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: rgb(100, 100, 100);
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: rgb(100, 100, 100);
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: rgb(100, 100, 100);
}

.main-button {
  font-size: 16px;
  height: 28px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: rgb(72, 173, 164);
  border: 1px solid;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

:root {
  --pomodoro: hsl(223, 25%, 40%);
  --shortBreak: hsl(48, 23%, 40%);
  --longBreak: hsl(105, 16%, 40%);
}